<div class="head">
  <div class="navbar">
    <div class="list container">
      <img class="logo" src="https://u-afanasicha.kz/assets/templates/img/@2x/logo.png" alt="">
      <div class="nav">
          <a routerLink=""><p>Забронировать</p></a>
          <a routerLink=""><p>Меню</p></a>
          <a routerLink=""><p>Доставка Обедов</p></a>
          <a routerLink=""><p>Галерея</p></a>
          <a routerLink=""><p>Акции</p></a>
          <a routerLink="/feedback"><p>Обратная связь</p></a>
      </div>
      <a href="#"><img class="png" src="https://u-afanasicha.kz/assets/templates/img/notify.png" alt=""></a>
    </div>
  </div>
</div>
<!-- <script type="text/javascript">
      function checkScroll(){
      var startY = $('.navbar').height() * 2;

      if ($(window).scrollTop() > startY) {
          $('.navbar').addClass("scrolled");
      } else {
          $('.navbar').removeClass("scrolled");
      }
    }

    if ($('.navbar').length> 0) {
        $(window).on("scroll load resize", function(){
            checkScroll();
        });
    }
</script> -->
