<div class="footer__sec">
    <div class="footer">
        <div class="footer__about">
            <img class="logo" src="https://u-afanasicha.kz/assets/templates/img/@2x/logo.png" alt="">
            <p>Ресторан «У Афанасича» - ресторан с историей более 15 лет. Семь гастрономических кухонь, летняя площадка, доставка еды, напитков + take away. Любимое место в городе - «У Афанасича»</p>
            <div class="social">
                <img class="social__logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/600px-Instagram_icon.png" alt="">
                <img class="social__logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1024px-Facebook_Logo_%282019%29.png" alt="">
                <img class="social__logo" src="https://upload.wikimedia.org/wikipedia/commons/c/ce/Twitter_Logo.png" alt="">
            </div>
        </div>
        <div class="footer__contact">
            <h2>Адрес</h2>
            <p>проспект Достык, 123/8</p>
            <p>+7(727)387-02-56</p>
            <p>+7(701)969-66-96</p>
            <p>info@u-afanasicha.kz</p>
            <p>с 10:00 до 22:00</p>
            <p style="margin-top: 50px;">Today: {{myDate | date:"dd.MM.yyyy"}}</p>
        </div>
        <div class="map">
            <h2>Мы на карте</h2>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2907.0505461183366!2d76.94330281535186!3d43.229399879138136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38836f1ef0fe3d57%3A0xe470e364ed718086!2z0J3Rg9GA0LvRiyDQotCw0YMgLSAxLCDQv9GA0L7RgdC_0LXQutGCIEHQu9GMLdCk0LDRgNCw0LHQuCwg0JDQu9C80LDRgtGLIDA1MDAwMA!5e0!3m2!1sru!2skz!4v1608665963387!5m2!1sru!2skz" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div>
