<hr>
<div class="reserve__sec">
    <div class="reserve">
        <h1 class="reserve__h1">Забронируйте стол</h1>

        <div class="reserve__forms">
            <div class="reserve__form">
                <input type="text" name="" value="" placeholder="Количество человек">
                <input type="text" name="" value="" placeholder="Имя">
            </div>
            <div class="reserve__form">
                <input type="date" name="" value="" placeholder="Дата">
                <input type="text" name="" value="" placeholder="Телефон">
            </div>
            <div class="reserve__form">
                <input type="time" name="" value="" placeholder="Время">
                <input type="email" name="" value="" placeholder="Email">
            </div>
        </div>

        <button class="reserve__button" type="button" name="button">Забронировать</button>
    </div>
</div>
