<div class="lunch__sec">

    <div class="lunch container">
        <h1 class="lunch__h1">Бизнес <br> Ланчи</h1>
        <p class="lunch_p">СТОИМОСТЬ НА ОДНУ ПЕРСОНУ
          <br>
          12:00 - 16:00 - 3300 ТЕНГЕ<br>
          ДЕТКАМ ДО 3-Х ЛЕТ - БЕСПЛАТНО<br>
          ДЕТКАМ ОТ 3-Х ДО 7-МИ ЛЕТ - 2000 ТЕНГЕ<br>
          ОТ 7-МИ ЛЕТ - ПОЛНАЯ ОПЛАТА<br>
          ОБСЛУЖИВАНИЕ ВКЛЮЧЕНО
        </p>
        <button class="lunch__button" type="button" name="button">+7 777 777 77 77</button>

    </div>
</div>
