.foods__sec{
    padding-top: 70px;
    background-image:
    linear-gradient(black,
                    transparent 1%,
                    transparent 1%,
                    black),
    url('/assets/img/foods-back.jpg');
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foods__div h1{
  font-size: 45px;
  color: #ffa742;
  top: 100px;
}
