<div class="foods__sec">
    <div class="foods__div">
        <h1>ЗАВТРАКИ</h1>
    </div>
</div>
<div class="foods__menu">
    <div class="food__menu">
        <div class="row__menu">
            <div class="food">
                <img src="https://u-afanasicha.kz/assets/cache_image/products/5/belorussky_570x402_a9a.webp" alt="">
                <p>Белорусский <br> 2 499 тенге.</p>
            </div>
            <div class="food">
                <img src="https://u-afanasicha.kz/assets/cache_image/products/6/russky_570x402_a9a.webp" alt="">
                <p>Русский <br> 2 499 тенге.</p>
            </div>
            <div class="food">
                <img src="https://u-afanasicha.kz/assets/cache_image/products/21/english-breakfast_570x402_a9a.webp" alt="">
                <p>Английский <br>2 999 тенге.</p>
            </div>
        </div>
        <div class="row__menu">
            <div class="food">
                <img src="https://u-afanasicha.kz/assets/cache_image/products/22/glazun_570x402_a9a.webp" alt="">
                <p>Яичница глазунья <br> 950 тенге.</p>
            </div>
            <div class="food">
                <img src="https://u-afanasicha.kz/assets/cache_image/products/23/oladiy_570x402_a9a.webp" alt="">
                <p>Оладьи с фруктами <br>1 300 тенге.</p>
            </div>
            <div class="food">
                <img src="https://u-afanasicha.kz/assets/cache_image/products/429/detsky_570x402_a9a.webp" alt="">
                <p>Детский завтрак <br>2 499 тенге.</p>
            </div>
        </div>
        <div class="row__menu">
            <div class="food">
                <img src="https://u-afanasicha.kz/assets/cache_image/products/430/nemecky_570x402_a9a.webp" alt="">
                <p>Белорусский <br> 2 499 тенге.</p>
            </div>
            <div class="food">
                <img src="https://u-afanasicha.kz/assets/cache_image/products/431/skandinavsky_570x402_a9a.webp" alt="">
                <p>Русский <br> 2 499 тенге.</p>
            </div>
            <div class="food">
                <img src="https://u-afanasicha.kz/assets/cache_image/products/432/fitnes_570x402_a9a.webp" alt="">
                <p>Английский <br>2 999 тенге.</p>
            </div>
        </div>
    </div>
    <div class="links">
        <h2>КУХНИ</h2>
        <a href="/foods">Завтраки</a>
        <a href="/foods">Домашняя кухня</a>
        <a href="/foods">Японская кухня и wok</a>
        <a href="/foods">Узбекская кухня</a>
        <a href="/foods">Кавказская кухня</a>
        <a href="/foods">Средиземноморская и Европейская кухни</a>
        <a href="/foods">Салаты и закуски</a>
        <a href="/foods">Супы</a>
        <a href="/foods">Итальянская кухня</a>
        <a href="/foods">Европейская кухня</a>
    </div>
</div>
