.foods__menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 60px;
}
.food__menu{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.row__menu{
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-bottom: 50px;
}
.food{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.food p{
  margin-top: 20px;
  font-size: 18px;
}
.food img{
  height: 200px;
}
.food img:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 10px #a8a8a8;
  transition: 0.4s;
}
.links{
  display: flex;
  flex-direction: column;
}
.links h2{
  margin-bottom: 30px;
  font-size: 30px;
  color: #ffa742;
}
.links a{
  text-decoration: none;
  color: black;
  font-size: 18px;
  margin-bottom: 10px;
}
.links a:hover{
  color: #ffa742;
}
