<div class="spec__sec">
    <div class="spec">
        <img src="https://pngimg.com/uploads/pizza/pizza_PNG43985.png" alt="">
        <div class="spec_info">
            <h2>СПЕЦИАЛЬНОЕ ПРЕДЛОЖЕНИЕ</h2>
            <strong><p>Дорогие гости, специально для Вас, приятные бонусы от ресторана "У Афанасича".</p></strong>
            <p>При заказе двух пицц и более - пицца Маргарита в подарок!</p>
            <strong><p>При заказе:</p></strong>
            <p>От 5000 тенге - хычин с сыром в подарок.<br>
              От 10000 тенге - один салат из домашней кухни в подарок.<br>
              От 15000 тенге - фирменный десерт в подарок.
            </p>
        </div>
    </div>
</div>
