<div class="deliv__sec">
    <div class="deliv">
        <h1 class="deliv__h1">ДОСТАВКА ОБЕДОВ</h1>

        <div class="deliv__spans">
            <div class="deliv__span">
                <div class="deliv__orders">
                    <p>Свыше</p><br>
                    <p class="number">5</p><br>
                    <p>заказов</p>
                </div>
                <p class="orders__text">Доставка бесплатная</p>
            </div>
            <div class="deliv__span">
                <div class="deliv__orders">
                    <p>Свыше</p><br>
                    <p class="number">9</p><br>
                    <p>заказов</p>
                </div>
                <p class="orders__text">Доставка бесплатная +10-ый <br> обед бесплатный</p>
            </div>
            <div class="deliv__span">
                <div class="deliv__orders">
                    <p>Свыше</p><br>
                    <p class="number">20</p><br>
                    <p>заказов</p>
                </div>
                <p class="orders__text">Доставка бесплатная +10-ый обед <br>бесплатный +5% скидка</p>
            </div>
        </div>

        <p class="deliv__text">
            При заключении контракта на длительное сотрудничество от месяца и <br>больше скидка 10%
        </p>

        <button class="deliv__button">
            Отправить заявку
        </button>
    </div>
</div>
