<div class="list__sec">
    <div class="list">
        <h1 class="list__h1">ВАШИ ЛЮБИМЫЕ БЛЮДА «ОТ АФАНАСИЧА»</h1>
        <div class="list__menus">
            <div class="list_menu">
                <h2>Супы</h2>
                <div class="list__food">
                  <p>Солянка сборная мясная</p>
                  <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
                </div>
                <div class="list__food">
                  <p>Рассольник Ленинградский с мясом</p>
                  <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
                </div>
                <div class="list__food">
                  <p>Суп-лапша</p>
                  <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
                </div>
                <div class="list__food">
                  <p>Борщ по-домашнему с мясом</p>
                  <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
                </div>
                <div class="list__food">
                  <p>Окрошка</p>
                  <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
                </div>
                <div class="list__food">
                  <p>Пельмени с бульоном</p>
                  <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
                </div>
                <div class="list__food">
                  <p>Грибной крем суп</p>
                  <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
                </div>
                <div class="list__food">
                  <p>Чечевичный крем суп</p>
                  <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
                </div>
                <div class="list__food">
                  <p>Сырный крем суп</p>
                  <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
                </div>
                <div class="list__food">
                  <p>Уха по-купечески</p>
                  <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
                </div>
            </div>
            <div class="list_menu">
              <h2>Салаты и холодные закуски</h2>
              <div class="list__food">
                <p>Русская закуска</p>
                <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
              </div>
              <div class="list__food">
                <p>Холодец</p>
                <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
              </div>
              <div class="list__food">
                <p>Закуска по-кавказски</p>
                <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
              </div>
              <div class="list__food">
                <p>Домашние соленья</p>
                <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
              </div>
              <div class="list__food">
                <p>Классическая Моцарелла</p>
                <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
              </div>
              <div class="list__food">
                <p>Закуска ханская</p>
                <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
              </div>
              <div class="list__food">
                <p>Закуска баклажанная</p>
              <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
              </div>
              <div class="list__food">
                <p>Салат Винегрет</p>
                <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
              </div>
              <div class="list__food">
                <p>Салат "сельдь под шубой"</p>
                <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
              </div>
              <div class="list__food">
                <p>Уха по-купечески</p>
                <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
              </div>
            </div>
        </div>
        <div class="list__menus">
            <div class="list_menu">
              <h2>Горячие блюда</h2>
              <div class="list__food">
                <p>Солянка сборная мясная</p>
                <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
              </div>
              <div class="list__food">
                <p>Рассольник Ленинградский с мясом</p>
                <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
              </div>
              <div class="list__food">
                <p>Суп-лапша</p>
                <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
              </div>
              <div class="list__food">
                <p>Борщ по-домашнему с мясом</p>
                <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
              </div>
              <div class="list__food">
                <p>Окрошка</p>
                <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
              </div>
              <div class="list__food">
                <p>Пельмени с бульоном</p>
                <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
              </div>
              <div class="list__food">
                <p>Грибной крем суп</p>
                <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
              </div>
              <div class="list__food">
                <p>Чечевичный крем суп</p>
                <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
              </div>
              <div class="list__food">
                <p>Сырный крем суп</p>
                <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
              </div>
              <div class="list__food">
                <p>Уха по-купечески</p>
                <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
              </div>
            </div>
            <div class="list_menu">
              <h2>Выпечка</h2>
              <div class="list__food">
                <p>Русская закуска</p>
                <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
              </div>
              <div class="list__food">
                <p>Холодец</p>
                <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
              </div>
              <div class="list__food">
                <p>Закуска по-кавказски</p>
                <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
              </div>
              <div class="list__food">
                <p>Домашние соленья</p>
                <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
              </div>
              <div class="list__food">
                <p>Классическая Моцарелла</p>
                <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
              </div>
              <div class="list__food">
                <p>Закуска ханская</p>
                <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
              </div>
              <div class="list__food">
                <p>Закуска баклажанная</p>
                <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
              </div>
              <div class="list__food">
                <p>Салат Винегрет</p>
                <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
              </div>
              <div class="list__food">
                <p>Салат "сельдь под шубой"</p>
                <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
              </div>
              <div class="list__food">
                <p>Уха по-купечески</p>
                <div>{{money | currency:'₸':'symbol-narrow':'1.1-1'}}</div>
              </div>
            </div>
        </div>
    </div>
</div>
