<div class="images__sec">
    <div class="images_div">
        <h1>ФОТОАЛЬБОМ 07.08.2020</h1>
    </div>
</div>

<div class="gal__sec">
    <div class="gal__div">
        <img src="/assets/img/img1.jpg" alt="">
        <img src="https://u-afanasicha.kz/assets/cache_image/assets/gallery/07.08.20/IMG_2618_384x312_f81.webp" alt="">
        <img src="https://u-afanasicha.kz/assets/cache_image/assets/gallery/07.08.20/IMG_2663_384x312_f81.webp" alt="">
        <img src="https://u-afanasicha.kz/assets/cache_image/assets/gallery/07.08.20/IMG_2692_384x312_f81.webp" alt="">
    </div>
    <div class="gal__div">
        <img src="https://u-afanasicha.kz/assets/cache_image/assets/gallery/07.08.20/IMG_2589_384x312_f81.webp" alt="">
        <img src="https://u-afanasicha.kz/assets/cache_image/assets/gallery/07.08.20/IMG_2612_384x312_f81.webp" alt="">
        <img src="https://u-afanasicha.kz/assets/cache_image/assets/gallery/07.08.20/IMG_2632_384x312_f81.webp" alt="">
        <img src="https://u-afanasicha.kz/assets/cache_image/assets/gallery/07.08.20/IMG_2644_384x312_f81.webp" alt="">
    </div>
    <div class="gal__div">
        <img src="https://u-afanasicha.kz/assets/cache_image/assets/gallery/07.08.20/IMG_2679_384x312_f81.webp" alt="">
        <img src="https://u-afanasicha.kz/assets/cache_image/assets/gallery/07.08.20/IMG_2660_384x312_f81.webp" alt="">
        <img src="https://u-afanasicha.kz/assets/cache_image/assets/gallery/07.08.20/IMG_2641_384x312_f81.webp" alt="">
        <img src="https://u-afanasicha.kz/assets/cache_image/assets/gallery/07.08.20/IMG_2612_384x312_f81.webp" alt="">
    </div>
</div>
