<div class="about">
    <div class="about__info">
        <div class="about__sec">
            <h1>О нас</h1>
            <p>В самом сердце Алматы вот уже более пятнадцати лет распахивает свои двери ресторан «У Афанасича». Ресторан «У Афанасича» зарекомендовал себя, как любимое место в городе Алматы, формата Classic FINE DINING RESTAURANT (ресторан высокой изысканной кухни premium класса). Основной особенностью ресторана является его история более пятнадцати лет существующая в сегменте Horeca, ресторан включает в себя семь традиционных гастрономических кухонь таких как: Американская, Кавказская, Японская, Русская, Итальянская, Восточная, Вегетарианская, кроме того, на территории ресторана «У Афанасича» расположен рыбный ресторан «SEA MARINE».</p>
        </div>
    </div>
</div>
